.navbar {
	width: 100%;
	height: 70px;
	padding: 10px 0;
	background-color: #f2fbfc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 100;

	.navbar-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;
		margin: 0 auto;

		.navbar-left {
			.logo {
				color: #8314f8;
			}
		}
	}
}
