$primary-color: #031a45;
$secondary-color: #01ff86;
$gradient-start: #031a45;
$gradient-end: #01ff86;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Rubik", "Bebas Neue", sans-serif;

	scrollbar-width: thin;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.pointer {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

.backLink {
	display: inline-block;
	margin: 1rem 0;
}

.column {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
}

.spaceBetween {
	justify-content: space-between;
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

hr {
	margin: 10px 0;
}

select {
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	background-color: #fff;
}

input[type="checkbox"] {
	margin-right: 0.5rem;
}

.maxWidth {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	padding: 0 1rem;
	width: 100%;
	max-width: 1200px;
	// background-color: #f9fafb;
}

.modalContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background-color: rgba(0, 0, 0, 0.5);
	background-color: rgba(55, 0, 60, 0.9);
	z-index: 1000;
	overflow-y: scroll;

	.modalContent {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 40%;
		max-height: 90%;
		height: fit-content;
		background-color: #fff;
		padding: 10px;
		border-radius: 0.5rem;
		box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
		position: relative;

		@media screen and (max-width: 1024px) {
			width: 70%;
		}

		@media screen and (max-width: 768px) {
			width: 85%;
			padding: 5px;
		}

		.modalHeader {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin-bottom: 20px;

			@media screen and (max-width: 768px) {
				margin-bottom: 10px;
			}

			@media screen and (max-width: 480px) {
				margin-bottom: 10px;
			}

			.modalTitle {
				width: 100%;
				text-align: center;
				font-size: 1rem;
				font-weight: bold;
			}
		}

		.modalBody {
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 5px;
			overflow: auto;

			// hide the scrollbar
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */

			.modalInput {
				display: flex;
				flex-direction: column;
				gap: 5px;

				label {
					font-weight: bold;

					@media screen and (max-width: 480px) {
						font-size: 0.8rem;
					}
				}

				input {
					padding: 5px;
					border-radius: 0.5rem;
					outline: none;
					border: none;
					font-size: 1rem;
					font-weight: bolder;
					color: $primary-color;
					margin-top: 5px;
					border-bottom: 1px solid $primary-color;
				}
			}
		}

		.modalActions {
			display: flex;
			gap: 10px;
			margin-top: 20px;
		}
	}
}

.loading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 30vh;

	.loading-spinner {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;

		.loading-spinner-item {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: #007bff; /* or any other color you prefer */
			animation: loading-animation 1s infinite ease-in-out;
			margin: 0 5px;
		}
	}

	.loading-text {
		text-align: center;
		color: #333;
		font-size: 16px;
	}

	@keyframes loading-animation {
		0% {
			transform: scale(0);
			opacity: 0.5;
		}
		50% {
			transform: scale(1);
			opacity: 1;
		}
		100% {
			transform: scale(0);
			opacity: 0.5;
		}
	}
}

.errorMessageContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 10px 0;

	.errorMessage {
		color: white;
		font-size: 1rem;
		padding: 10px;
		background-color: rgb(204, 92, 92);
		border-radius: 0.3rem;
	}
}
